*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    overflow: hidden;
}
body{
    display:flex;
    flex-direction: column;
}
.navbar
{
    background-color: black;
    padding: 10px 0;
}
.nav-links
{
    display: flex;
    justify-content: center;
    list-style:none;
}
.nav-links li+li
{
    margin: 10px;
}
.nav-links a{
    color:white;
    padding: 8px;
    text-decoration:none;
    transition: background 0.3s;
}
nav.link a:hover{
    background: gray;
}
.page{
    flex:1;
    min-width:100vw;
    overflow: auto;
    padding: 20px;
    background-color:aliceblue;
    border-right: 1px solid white;
}
body{
    overflow-x: auto;
    scroll-snap-type:x mandatory;
}