*{
    background-color: black;
}
nav{
    background-color: black;
    color: beige;
    padding: 20px;

    
}
.logo{
    width: 150px;
    height: 500px;
    width: 500px;
    margin-left:35%;
    transition: transform 0.3s ease;
    cursor: pointer;
    position:relative;
    animation: move text 5s linear infinite;
    font-size: 24px;
}
@keyframes movetext{
    0% {left:0;}
    100%{left:100%}
    
}
.logo:hover,
.logo:active{
  transform: scale(1.1);
}

h1,ul,li{
    display: inline;
}
h1{
    text-indent: -999999px;

    
    
}
input{
    color: burlywood;
    margin-left: 10%;
    width:300px;
    height:30px;
    
}


ul{
    margin-left: 35%;
}
b{
    color: bisque;

}
b:hover{
    color:gray;
}
.product-container {
    width: 400px;
    height: 700px;
   
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

    position: relative;
    overflow: hidden;
}

p{
    margin-left:8%;
    color: bisque;
    
}
i:hover{
    color: sandybrown;
}
h3{
    margin-left: 15%;
    color: bisque;
    font-size: 50px;
    padding-bottom: 10px;
    
    
}
.product:hover,
.product:active{
  transform: scale(1.1);
}
div{
    display: inline-block;
}


.product2:hover,
.product2:active{
  transform: scale(1.1);
}
h2{
    margin-left: 15%;
    color: bisque;
    font-size: 50px;
    padding-bottom: 10px;
   
}

   


.product3:hover,
.product3:active{
  transform: scale(1.1);
}
/* Common image styling with adjustable positioning */
.product,
.product2,
.product3 {
    width: 100%;
    height: 450px;
    object-fit: cover; /* you can change this to 'contain' if needed */
    object-position: center; /* adjust this manually: top, bottom, left, right, % */
    transition: transform 0.3s ease;
    animation: slide-right 20s linear infinite;
    position: relative;
}


.product-wrapper {
  display: flex;
  gap: 50px;
  position: absolute;
  will-change: transform;
  margin-top: 200px;
}

.product-outer-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
  }

  .product-wrapper {
    display: inline-flex;
    white-space: nowrap;
    animation: loop-scroll 6s linear infinite;
    animation-delay: 3s;
    position: relative;
  }

  @keyframes loop-scroll {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  .REGISTER{
  width: 200px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 50px;

  border-radius: 25px;  /* Makes it oval */
  background-color:rgb(0, 0, 0);
  color:rgb(233, 230, 230);
  font-size: 15px;
  font-weight: bold;
  border:2px solid rgb(248, 246, 244);
  
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
 
}
.REGISTER:hover{
          background-color:azure;
          color:black
  
}
  
.paragraph{
  margin-left:8%;
  color: white;
  font-size: larger;
  
}
.head{
  color: beige;
}

