body
{
    font-family: sans-serif;
    margin:0;
    padding: 20px;
    background-color: aliceblue;
}
.grid-container
{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    background-color:blue;
    border: 1px solid #0e0d0d;
}
.grid-item
{
   
    background-color: rgb(241, 222, 6);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
}