*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: arial;
    line-height: 1.5;

}
.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    width:200px;
    background-color: #333;
}
.nav-links{
    list-style: none;
}
.nav-links a{
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;

}
.nav-links a.active,
.nav-links a:hover{
    background-color: #555;
}
.content{
    flex:1;
    padding: 20px;
    background-color: aliceblue;
    overflow: auto;
}